.email-wrap {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  input {
    font-size: 1.3rem;
    outline: none;
    border: none;
  }

  .email {
    padding: 0.6rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    gap: 0.5rem;
  }

  .email-2 {
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.4rem;

    select {
      padding: 0.5rem;
      font-size: 1rem;
      outline: none;
    }
  }
}
