.header {
  padding: 2rem;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  width: 20vw;
  height: 10vh;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  border: 0.1rem solid #a2a2a2;
}
