* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "system-ui", "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  display: grid;
  height: 100vh;
  place-items: center;
}

.wrapper {
  width: calc(100vw - 400px);
  height: calc(100vh - 10px);
  overflow: scroll;
  border: 1px solid #7777;
}
